site_name: Proj-Vanguard Docs
site_description: Documentation for Proj-Vanguard
site_url: https://martz-cloud.github.io/proj-vanguard/
repo_name: martz-cloud/proj-vanguard
repo_url: https://github.com/martz-cloud/proj-vanguard
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.expand
    - navigation.footer
    - content.code.copy
    - search.suggest
    - search.highlight
  language: en
nav:
  - Home: index.md
  - Guides:
      - Setup: guides/setup.md
      - Runbooks: guides/runbooks.md
  - Reference:
      - Mappings: reference/mappings.md
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/martz-cloud
markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.highlight
